body {
    margin: 0;
}
#navbar {
    padding: 20px;
    background-color: #111;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

#navbar ul li {
    list-style: none;
    background-color: #273c75;
    color: white;
    padding: 20px;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
}

#navbar ul li a{
    color: white;
    text-decoration: none;
}