body {
    margin: 0;
}
#navbar {
    padding: 20px;
    background-color: #1c2841;
    border-bottom: 2px solid black;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

#navbar ul li {
    list-style: none;
    color: white;
    padding: 20px;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
}

#navbar ul li:hover {
    background-color: #0a3d62;
}

#navbar ul li a{
    color: white;
    text-decoration: none;
}
